<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
    <h1>{{> header}}</h1>
    <p>Some text here.</p>
    <div>{{ pageMessage }}</div>
    {{> footer}}
</body>
</html>